.board{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    max-width: 600px;
    margin: 100px auto;
}

.level{
    color: aquamarine;
    font-family: 'Handjet', cursive;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}